{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{% static 'Polls/styles.css' %}">
  </head>
  <body>

    <nav class="navbar navbar-light bg-light py-4" style="width: 100%;">
      <div class="container">
          <a class="navbar-brand" href="{% url "main" %}">
              <img class="img-fluid me-1" src="{%static 'img/logo3.png'%}" width="120px" height="100px">
          </a>
          <div class="container-fluid">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
              <button class="btn" type="submit"><img style="width: 30px; height: 30px;" src="{%static 'img/search.png'%}"/></button>
            </form>
          </div>
      </div>
      <div class="header_knob">
        <div class="container">
            <a class="navbar-brand" href="#exampleModalToggle" data-bs-toggle="modal">
                <img class="img-fluid me-4" src="{%static 'img/avatar.png'%}" width="40px" height="40px">
            </a>
            <a class="navbar-brand" href="{% url "favorites" %}">
                <img class="img-fluid me-4" src="{%static 'img/like.png'%}" width="40px" height="40px">
            </a>
            <a class="navbar-brand" href="#exampleModalToggle3" data-bs-toggle="modal">
                <img class="img-fluid me-4" src="{%static 'img/basket.png'%}" width="50px" height="50px">
            </a>
        </div>   
  </nav> 
      <div class="row">
        <div class="container col-3 marginleft mt-3">
          <div class="list-group col">
            <a class="dropdown-item" href="{% url 'stocks' %}">Акции</a>
            <a class="dropdown-item" href="{% url 'main' %}">Новинки</a>
            <a class="list-group-item dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="#">Альбомы</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'seventeen' %}">Seventeen</a></li>
              <li><a class="dropdown-item" href="{% url 'enhypen' %}">Enhypen</a></li>
              <li><a class="dropdown-item" href="{% url 'straykids' %}">Stray Kids</a></li>
            </ul>
            <a class="dropdown-item" href="{% url 'merch' %}">Мерч</a>
          </div>   
        </div>

        <!-- Контент -->
        <div class="row col-9">
          <div class="content">
              <div class="row">
                <label class="fs-2 fw-bold text-center qq">Избранные товары</label>
              </div>
              <div class="row row-cols-3 g-4">
                {% if favorites %}
                  {% for fav in favorites %}
                    <div class="col">
                      <div class="card h-100">
                        <a href="{% url 'post-detail' fav.product.id %}" class="text-decoration-none">
                          <img src="{{ fav.product.photo.url }}" class="card-img-top" alt="{{ fav.product.title }}">
                          <div class="card-body text-center">
                            <h5 class="card-title text-purple">{{ fav.product.title }}</h5>
                            <p class="fw-bold text-purple">{{ fav.product.price }} руб.</p>
                          </div>
                        </a>
                        <div class="card-footer text-center bg-white border-0">
                          <form method="post" action="{% url 'remove_favorite' fav.product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-purple btn-sm">Удалить</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="col">
                    <p class="fs-3 fw-bold text-center qq">У вас нет избранных товаров.</p>
                  </div>
                {% endif %}
              </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
