{% extends "Polls/base.html" %}

{% block content %}
<h2 class="text-center fw-bold mb-4 qq">Новинки</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for product in products %}
    <div class="col">
      <div class="card h-100">
        <a href="{% url 'post-detail' product.id %}" class="text-decoration-none">
          <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.title }}" style="height: 230px; object-fit: contain;">
          <div class="card-body text-center">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="fw-bold mm">{{ product.price }} руб.</p>
          </div>
        </a>
      </div>
    </div>
  {% empty %}
    <p class="text-center">Товаров пока нет.</p>
  {% endfor %}
</div>
{% endblock %}