{% extends "Polls/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <label class="fs-2 fw-bold text-center qq">ㅤ</label>
</div>

<div class="ps-5">
  <form method="post" action="{% url 'add_to_cart' object.id %}" class="product-detail ps-5">
    {% csrf_token %}
    <div class="image_info row">
      <div class="img_card col-3">
        <img class="image_card" src="{{ object.photo.url }}">
      </div>
      <div class="info col-9 ps-5">
        <div class="title_product text-purple fw-bold">
          <label>{{ object.title }}</label>
        </div>
        <div class="price_product mm">
          <label>{{ object.price }} руб</label>
        </div>
        <div class="btn_buy_btn_favo row align-items-center">
          <div class="add_button col-auto">
            <button class="button_buy" type="submit">
              <img class="basket_img" src="{% static 'img/basket.png' %}"> В корзину
            </button>
          </div>
  </form>  

  <form method="post" action="{% url 'add_to_favorites' object.id %}" class="col-auto">
    {% csrf_token %}
    <button type="submit" class="favo_button">
      <img src="{% static 'img/like.png' %}" class="favo_img" alt="Добавить в избранное">
    </button>
  </form>

        </div> 

        <div class="description-box">
          <label class="description_title">ㅤ</label><br>
          <label class="text-wrap">{{ object.description|linebreaks }}</label><br>
        </div>
      </div>
    </div>

    <div class="row row-cols-3">
      {% for product in products %}
        <div class="col p-5">
          <div class="row p-2 border bg-light">
            <div class="d-flex justify-content-center align-items-center">
              <img src="{{ product.photo.url }}" alt="Изображение" width="250" height="250">
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <a class="text-center fs-5 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ product.title }}</a>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <label class="text-center fs-5 mm">{{ product.price }} руб.</label>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}